
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

header{
    padding: 10px;
    background-color: antiquewhite;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

header nav ul{
    display: flex;

}

header nav ul li{
    justify-content: space-between;
}

.container{
    max-width:1140px;
    margin: auto;
}

aside{
    width: 20%;
    padding: 10px;
    height: 100vh;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: antiquewhite;
    position: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
    top: 13%;
}

aside #signui{
    border: 1px solid salmon;
}
.row{
    display: flex;
    flex-wrap: wrap;
}