
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

header{
    padding: 10px;
    background-color: aquamarine;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

header nav ul{
    display: flex;

}

header nav ul li{
    justify-content: space-between;
}

.container{
    max-width:1140px;
    margin: auto;
}

aside{
    width: 15%;
    padding: 10px;
    height: 100vh;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: aquamarine;
    overflow: scroll;
}

aside #signui{
    border: 1px solid gray;
}
.row{
    display: flex;
    flex-wrap: wrap;
}